.green {
  outline-color: green;
}
.red {
  outline-color: red;
}
.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
button {
  background-color: #2222;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 15px;
  color: crimson;
}